<!DOCTYPE html>
<html lang="en">
  <% include ../partial/admin-head.ejs %>
  <!-- <link rel="stylesheet" href="/stylesheets/sweetalert.css"> -->

  <% include ../partial/admin-sidebar.ejs %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-money"></i> Total Sale(Daily)</span>
              <div class="count"><%= saletd %></div>
              <span class="count_bottom"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-calculator"></i>Total Table</span>
              <div class="count"><%= toltable %></div>
              <span class="count_bottom"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-money"></i> Total sale(Yearly)</span>
              <div class="count green"><%= saleyl %></div>
              <span class="count_bottom"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-archive"></i> Total Order</span>
              <div class="count"><%= orderC %></div>
              <span class="count_bottom"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-book"></i> Total Menus</span>
              <div class="count"><%= menuC %></div>
              <span class="count_bottom"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" disabled>
              <span class="count_top" disabled><i class="fa fa-users"></i> Total Staff</span>
              <div class="count" disabled><h4>Comming Soon</h4></div>
              <span class="count_bottom" disabled></span>
            </div>
          </div>
          <!-- <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_320">
              <div class="x_title">
                <h2>Top 10 Foods</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <%if(top.length < 0){%>
                  <h3>Data Not found!!</h3>
                  <%}else{%>
                <% for(var i= 0; i < top.length; i++){%>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span><%=top[i].fname%></span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=(top[i].count/orderC)*100%>%;">
                        <span ><%=(top[i].count/orderC)*100%>% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%=top[i].count%></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <% }
                } %>
              </div>
            </div>
          </div>
        </div> -->
      </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../partial/admin-footer.ejs %>

        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendor/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendor/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendor/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendor/vendors/nprogress/nprogress.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/sweetalert.min.js"></script> -->
    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>
    <script src="/javascripts/js.cookie.js" charset="utf-8"></script>
    <!-- <script src="/javascripts/socket.io.js" charset="utf-8"></script> -->
  </body>
  <!-- <script type="text/javascript">
    console.log(Cookies.get('email'));
    console.log('<%=top.length%>');

    var socket = io();
    console.log(socket);
    var audio = new Audio('/fire.mp3');
    socket.on('calling',function (data) {
      audio.play();
      swal({
      title: "Request Bill Payment",
      text: "Request from Table "+data,
      type: "success",
      confirmButtonText: "OK",
      closeOnConfirm: true
    },function (isConfirm) {
      audio.pause();

    });
  });
  </script> -->
</html>
