<!DOCTYPE html>
<html lang="en">

<head>
  <style media="screen">
        .disabled {
        pointer-events:none; //This makes it not clickable
        opacity:0.1;         //This grays it out to look disabled
      }
  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Contact Form | Gentelella Alela! by Colorlib</title>

  <!-- Bootstrap -->
  <link href="/vendor/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendor/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendor/vendors/nprogress/nprogress.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/build/css/custom.min.css" rel="stylesheet">
</head>

<% include ../../partial/admin-sidebar.ejs %>
  <!-- /top navigation -->

  <!-- page content -->
  <div class="right_col" role="main">
    <form>
      <input type="hidden" name="start" id="start" value="<%= page.start%>">
      <input type="hidden" name="currPage" id="currPage" value="<%= page.currPage%>">
    <div class="">
      <div class="title_right">
        <div class="col-md-3 col-sm-3 col-xs-10 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Food List</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="row">
                <% for(var i=0; i< menu.length; i++){ %>
                <div class="clearfix">
                <div class="col-md-6 col-sm-6 col-xs-8 profile_details">
                  <div class="well profile_view">
                    <div class="col-sm-12">
                      <div class="left col-xs-6">
                        <h5 class="name"><strong>Name:</strong> <%= menu[i].fname %></h5>
                        <h5 class="cat"><strong>Category:</strong> <%= menu[i].category.sub_cat %></h5>
                        <h5><p><strong>Price:</strong> <%= menu[i].price %>Ks</p></h5>
                        <h5 class="brief"><strong>Brief:</strong> <%= menu[i].brief %></h5>
                        <h5><p><strong>Descirption:</strong> <%= menu[i].description %>  </p></h5>
                      </div>
                      <div class="right col-xs-5 text-center">
                        <img src="<%= menu[i].imgUrl %>" alt="" class="img-cause img-responsive">
                      </div>
                    </div>
                    <div class="col-xs-12 bottom text-center">
                      <div class="col-xs-12 col-sm-6 emphasis">
                      </div>
                      <div class="col-xs-12 col-sm-6 emphasis" >
                        <a href="/admin/detail/<%= menu[i]._id %>"><button type="button"  class="btn btn-primary btn-xs" >
                            <i class="fa fa-cutlery">&nbsp&nbsp </i>Detail View
                        </button></a>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <ul class="pagination pagination-split" id="page">

                          <!-- <% var start = 0;%>
                          <li><a href="#"><<<</a></li>
                          <% for(var i =1; i <= count; i++){%>
                            <li><a href="#"><%=i%></a></li>
                          <%}%>
                           -->

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <!-- /page content -->

  <!-- footer content -->
  <% include ../../partial/admin-footer.ejs %>
  <!-- /footer content -->
  </div>
  </div>

  <!-- jQuery -->
  <script src="/vendor/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/vendor/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/vendor/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/vendor/vendors/nprogress/nprogress.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/build/js/custom.min.js"></script>
  </body>
  <script type="text/javascript">
  var page = document.getElementById('page');
  var start = $('#start').val();
  var count = Number('<%=count%>');
  var end = (Number($('#start').val())+5 >= Math.ceil(count/4))? Math.ceil(count/4):Number($('#start').val())+5;
  var total = end*4;
    console.log('///',start,end,count);
    function pagen() {
      $("#page").html('');
      (start == 1)? page.innerHTML +='<li class="disabled"><a href="javascript:go('+start+',0)">Prev</a></li>': page.innerHTML +='<li><a href="javascript:go('+start+',0)">Prev</a></li>';
      for(var i = start; i<= end;i++){
        page.innerHTML +='<li><a href="javascript:go('+i+',1)">'+i+'</a></li>';
      }
      (total >= count)?page.innerHTML +='<li class="disabled"><a href="javascript:go('+end+',2)">Next</a></li>':page.innerHTML +='<li><a href="javascript:go('+end+',2)">Next</a></li>';
    }

    pagen();
    function go(j,t) {
      if(t==2){
        start = Number(end);
        end  = ((Number(start)+5)>=count/4)? count/4:Number(start)+5;
        $('#start').val(start);
        $('#end').val(end);
        pagen();
      }
      if(t==1){
        location.href = '/admin/foodlist?c='+j;
      }
    }
  </script>
</html>
