<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendor/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendor/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendor/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="/vendor/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="/vendor/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="/vendor/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="/vendor/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/vendor/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->

    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/cropper.css">
  </head>

    <% include ../../partial/admin-sidebar.ejs %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

          <div class="clearfix"></div>

          <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Modify Food</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
                <div class="x_content">
                  <br />
                  <form class="form-horizontal form-label-left" name="frm" action="/admin/modify" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="menu_id" value="<%= menu._id %>">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Food Name <span class="required">*</span></label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" name="fname" placeholder="Food Name" value="<%= menu.fname %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Catagories</label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="form-control" name="category">
                          <option value="">Select Category</option>
                          <% for(var i=0; i< cat.length; i++){%>
                            <option value="<%= cat[i]._id %>"><%= cat[i].name %></option>
                        <%  } %>
                        </select>
                      </div>
                    </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Price <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="number" class="form-control" name="price" value="<%= menu.price %>" placeholder="Input Price">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="image">Image <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <label class="img-label" data-toggle="tooltip" title="Select photo">
                            <img class="rounded" id="photo" src="/images/upload.png" alt="Image">
                            <input type="file" class="sr-only" id="uploadImg" name="uploadImg" accept="images/*">
                            </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Brief <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="brief" id="brief" class="form-control" value="<%= menu.brief %>">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="description" id="description" class="form-control" value="<%= menu.description %>">
                        </div>
                      </div>

                      <div class="text-center">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-lg btn-primary" id="save">Save</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
             </div>
             <div class="modal-body">
               <div class="img-container">
                <img src="/images/upload.png" id="sourceImg" alt="">
               </div>

             </div>
             <div class="modal-footer">
               <button id="crop" type="button" class="btn btn-link waves-effect">Crop</button>
               <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
             </div>
           </div>
         </div>
      </div>

        <!-- footer content -->
          <% include ../../partial/admin-footer.ejs %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendor/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendor/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/vendor/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/vendor/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/vendor/vendors/moment/min/moment.min.js"></script>
    <script src="/vendor/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="/vendor/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/vendor/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/vendor/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/vendor/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/vendor/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/vendor/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="/vendor/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="/vendor/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/vendor/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="/vendor/vendors/starrr/dist/starrr.js"></script>
    <!-- Cropper -->

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.js"></script>
    <script src="/js/cropper.js"></script>
    <script src="/js/jquery-cropper.js"></script>

  </body>

  <script type="text/javascript">
  // jQuery.noConflict();
  $(function() {
    $.fn.cropper.noConflict();
    $('[data-toggle="tooltip"]').tooltip();
    var $modal = $('#exampleModal');
    var uploadImg = document.getElementById('uploadImg'); // upload file
    uploadImg.addEventListener('change', function (e) {
        var files = e.target.files;
        var done = function (url) {
          uploadImg.value = '';
          $('#sourceImg').attr('src', url);
          $modal.modal('show');
        };
        var reader;
        var file;
        var url;
        if (files && files.length > 0) {
          file = files[0];
          if (URL) {
            done(URL.createObjectURL(file));
          } else if (FileReader) {
            reader = new FileReader();
            reader.onload = function (e) {
              done(reader.result);
            };
            reader.readAsDataURL(file);
          }
        }
    });
    console.log($modal);
    var cropper;
    var canvas;
    var sourceImg = document.getElementById('sourceImg');
    $modal.on('shown.bs.modal', function () {
      cropper = new Cropper(sourceImg, {
          aspectRatio: 2 / 3,
          preview: '.img-preview',
          viewMode: 1,
      });
    }).on('hidden.bs.modal', function () {
      cropper.destroy();
      cropper = null;
    });

    $('#crop').click( function () {
      $modal.modal('hide');
      if (cropper) {
        canvas = cropper.getCroppedCanvas({
          width: 720,
          height: 960,
        });
        $('#photo').attr('src', canvas.toDataURL() ); // change cropped image
      }
    });
    $('#save').click(function(){
      console.log('click');
      var data = {fname: $('#fname').val()};
      if(data.fname == ''){
        alert('Please add category!');
        return;
    }
      $.ajax({url: "/admin/duplicatefname", data:data, type:'POST', success: function(result){
        if(result.status == false){
          alert(result.msg);
          $('#fname').val('');
          $('#fname').focus();
        }else {
          canvas.toBlob(function (blob) {
              var formData = new FormData(document.querySelector('form'));
              formData.append('photo', blob);
              $.ajax('/admin/modify', {
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (rtn) {
                    console.log(rtn);
                    if(rtn.status) location.href = "/admin/detail/"+rtn.id;
                },
                error: function (err) {
                    console.log(err);
                },
                complete: function () {
                    console.log('complate');
                },
              });
            });
          }
      }});
    });
  });

  </script>
</html>
