<!DOCTYPE html>
<html lang="en">
<% include ../../partial/head.ejs %>
<body class="animsition">
	<!-- Header -->
	<% include ../../partial/header.ejs %>

	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/images/heading-pages-01.jpg);">
		<h2 class="l-text2 t-center">
			Cart
		</h2>
	</section>

	<!-- Cart -->
	<form class="cart-form" action="#">
	<section class="cart bgwhite p-t-70 p-b-100">
		<div class="container">
			<!-- Cart item -->
			<div class="container-table-cart pos-relative">
				<div class="wrap-table-shopping-cart bgwhite">
					<table class="table table-bordered">
						<thead>
							<tr class="table-head">
								<th class="column-0 text-center">Remove</th>
								<th class="column-1 text-center">Food photo</th>
								<th class="column-2 text-center">Food Name</th>
								<th class="column-3 text-center">Price</th>
								<th class="column-4 p-l-70 text-center">Count</th>
								<th class="column-5 text-center">Total</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i = 0; i< itemdata.length; i++){%>
							<tr class="table-row">
								<td class="form-cart-item-remove text-center" >
									<a href="/customer/remove/<%= itemdata[i]._id %>"><i class="fa fa-2x fa-trash-o"></i></a>
								</td>
								<td class="column-1 text-center">
									<div class="cart-img-product b-rad-4 o-f-hidden text-center">
										<img src="<%= itemdata[i].imgUrl %>" alt="IMG-PRODUCT">
									</div>
								</td>
								<td class="column-2 text-center"><a href="/customer/detail/<%= itemdata[i]._id %>"><%= itemdata[i].fname %></a></td>
								<td class="column-3 text-center"><%= itemdata[i].price %></td>
								<td class="column-4 text-center">
									<div class="flex-w bo5 of-hidden w-size17 text-center">
										<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2" onclick="minus(<%=i%>,'<%= prices[i] %>')">
											<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
										</button>

										<input class="size8 m-text18 t-center num-product" type="number" id="pro<%=i%>" name="num-product1" value="1">

										<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2" onclick="plus(<%=i%>,'<%= prices[i] %>')">
											<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
										</button>
									</div>
								</td>
								<td class="column-5 text-center" id="prc<%=i%>"><%= prices[i] %></td>
							</tr>
							<% } %>
						</tbody>
						<tfoot>
							<tr class="table-head">
								<td class="column-10 text-center" colspan="5"><%= prices[i] %><b>Total</b></td>
								<td class="column-11"></td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
				<div class="size10 trans-0-4 m-t-10 m-b-10">
					<!-- Button -->
					<button type="button" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
						Checkout
					</button>
				</div>
			</div>
		</div>
	</section>
</form>
	<!-- Footer -->
	<% include ../../partial/footer.ejs %>
	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>

<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});

	</script>
<!--===============================================================================================-->
	<script src="/javascripts/main.js"></script>

</body>
<script type="text/javascript">
	function minus(id,prc) {
		console.log(prc);
		var price = Number(prc);
		var product = Number($('#pro'+id).val());
		console.log('call', price, product);
		if(product == 1) return;
		$('#prc'+id).html(price*(product-1));
	}
	function plus(id,prc) {
		console.log(prc);
		var price = Number(prc);
		var product = Number($('#pro'+id).val());
		console.log('call', price, (product+1));
		$('#prc'+id).html(price*(product+1));
	}

</script>
</html>
